mixin mix-sidebar-relat
    block append styles
        link(href='../assets/css/pages/detail_sidebar.css' rel="stylesheet")
    #inner-histo.inner.p-10
        .histos
        .collapsor-histo
            a#sidebar-bt-histo.btn.btn-success.purple.btn-icon.navbar-toggle(style='cursor:pointer;', data-target='.header-navigation', data-toggle='collapse', type='button')
                i.ico-arrow-right4
    #inner-search.inner.p-10
        .search_block.widget_block(style="margin:5px;")
            form.widget_search(autocomplete='off' action='' method='get' style='margin-bottom:20px;')
                .autocomplete
                    input#txtSearch.serch_input(type='search' placeholder='Saisissez votre recherche' name='s' value='')
                button#searchWText.search_btn(type='submit')
                    i.ico-search2
                .clear
        form.form-search#search_form(name="search_form", method="post",style="padding:10px;")
            .clearfix
            .row
                .col-md-12
                    .form-check
                        img.m-l-5.logo_dark(style="margin-right:5px;",src='../assets/images/profils/108.png',width="15px")
                        input.form-check-input(style="margin-right:5px;",type="checkbox" value="" checked id="ch-108" onclick="VV_relat.d3.checkProfil('108',this)", autocomplete="off")
                        label.form-check-label(for="ch-108",style="color:#0B8E36;")= "  " + trads.t5c5d278075254800049b2176                        
                    .form-check
                        img.m-l-5.logo_dark(style="margin-right:5px;",src='../assets/images/profils/113.png',width="15px")
                        input.form-check-input(style="margin-right:5px;",type="checkbox" value="" checked id="ch-113" onclick="VV_relat.d3.checkProfil('113',this)", autocomplete="off")
                        label.form-check-label(for="ch-113",style="color:#EF70B7;")= "  " + trads.t5c5d2793f52f110004a93966
                    .form-check
                        img.m-l-5.logo_dark(style="margin-right:5px;",src='../assets/images/profils/102.png',width="15px")
                        input.form-check-input(style="margin-right:5px;",type="checkbox" value="" checked id="ch-102" onclick="VV_relat.d3.checkProfil('102',this)", autocomplete="off")
                        label.form-check-label(for="ch-102",style="color:#E30613;")= "  " +  trads.t5c5d272675254800049b213b
                    .form-check
                        img.m-l-5.logo_dark(style="margin-right:5px;",src='../assets/images/profils/114.png',width="15px")
                        input.form-check-input(style="margin-right:5px;",type="checkbox" value="" checked id="ch-120" onclick="VV_relat.d3.checkProfil('120',this)", autocomplete="off")
                        label.form-check-label(for="ch-120",style="color:#3d98b7;")= "  " + trads.t6431045aedb0bd528a4990d1
                    hr
                    .more
                    hr
                    .form-check
                        input.form-check-input(style="margin-right:5px;",type="checkbox", autocomplete="off", value="", id="fixedN", onclick="VV_relat.d3.fixedNodes(this)")
                        label.form-check-label(for="fixedN")= trads.t64303f6256c1eb52aa703d88
                    //.form-check(style="margin-top:5px;")
                        a.btn(href='javascript:void(0)', title='Exporter', onclick='VV_relat.d3.saveSvgAsPng()')
                            i.ico-download4
                            |   Exporter
                    .form-check(style="margin-top:5px;")
                        a.btn(href='javascript:void(0)', title='Fullscreen', onclick='VV_relat.relat.setFullScreen()')
                            i.ico-focus
                            |   
                            = trads.t5c5d299f75254800049b2299
        .collapsor-filters
            // <a id="search-bt">Fermer</a>
            a#sidebar-bt-filters.btn.purple.btn-icon.navbar-toggle(style='cursor:pointer;', data-target='.header-navigation', data-toggle='collapse', type='button')
                i.ico-arrow-left4
        .spinner-load
            .spinner
    block append scripts
        script(src='../assets/js/pages/directory_sidebar.js')