extends layout.pug
include mixins/globals/widgets/mix-compteurs.pug
include mixins/globals/widgets/mix-search-bar.pug
include mixins/globals/widgets/mix-loader.pug
include mixins/pages/directory/mix-categ_global.pug
include mixins/pages/directory/mix-categ_bowl.pug
block append styles
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
  link(href='../assets/css/pages/directory_sidebar.css' rel="stylesheet")
  link(href="../assets/css/pages/directory_global.css" rel="stylesheet")
  //link(href="../assets/css/pages/bowl.css" rel="stylesheet")
block content
  // Page Title
  //section.content_section.page_title
    .content.clearfix
      h1= trads.t5fb63c2af36bca70aaf83219
      .breadcrumbs
        a(href='/')= trads.t5fc5e2a6b4b8eb1f1e4358a1
        span.crumbs-spacer
          i.ico-angle-right
        span= trads.t5fb63c2af36bca70aaf83219
  // End Page Title
  
  // Our Blog Grids
  .chat-popup#myChatForm(style="display:none")
    form.form-container
      .chat(id="popChat")
        .chat-title
          h1 BOOST GPT
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true" onclick="closeChat()">×</button>
          //h1
            div
              input(type="radio"  id=duid+"v4" name=duid+"aiMod" value="langchain"  checked="" )
              label(for=duid+"v4")= "langchain "
              input(type="radio"  id=duid+"v1" name=duid+"aiMod" value="openai")
              label(for=duid+"v1")= "openAI "
              input(type="radio"  id=duid+"v2" name=duid+"aiMod" value="chatpdf")
              label(for=duid+"v2")= "chatPdf "
              input(type="radio"  id=duid+"v3" name=duid+"aiMod" value="modfusion")
              label(for=duid+"v3")= "modelFusion "
          figure.avatar
            img(src='../assets/images/ChatGPT.png')
        .messages
          .messages-content
            
        .message-box
          textarea.message-input(rows="1",type='text',placeholder='Saisissez votre message...')
            | Peux-tu résumer en français ce document en 30 lignes ?
          button.message-submit() Envoyer
  section.content_section(style="min-height:500px;")
    .content
      
      //.main_title.centered.upper
        h2
          span.line
            i.ico-pencil2
          | From The Blog
      // All Content
      .content_spacer.clearfix
        .content_block
          .row
            //.col-md-3
              <div class="enar_accordion plus_minus" data-type="accordion"><div class="enar_occ_container occ_expanded" data-expanded="true">
                <span class="enar_occ_title"><i class="ico-shuffle2"></i>Sources</span>
                <div class="enar_occ_content" style="height: 278px;">
                  <div class="acc_content">
                    <ul>
                      for sc, idx in bowlSources.sources
                        <li>
                          = idx
                          .badge= sc
                        </li>
                    </ul>
                  </div>
                </div>
                </div><div class="enar_occ_container" data-expanded="false">
                  <span class="enar_occ_title"><i class="ico-glass3"></i>Languages</span>
                  <div class="enar_occ_content">
                    <div class="acc_content">
                      <ul>
                        for sc, idx in bowlSources.languages
                          <li>
                            = idx
                            .badge= sc
                          </li>
                      </ul>
                    </div>
                  </div>
                </div><div class="enar_occ_container" data-expanded="false">
                  <span class="enar_occ_title"><i class="ico-check3"></i>Countries</span>
                  <div class="enar_occ_content">
                    <div class="acc_content">
                      <ul>
                        for sc, idx in bowlSources.countries
                          <li>
                            = idx
                            .badge= sc
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            .col-md-12
              //.widget_block
              //h6.widget_title= trads.t5c5d27a175254800049b2190
              .search_block.widget_block(style="display: inline-block;float: left;width: 95%;")
                form.widget_search( autocomplete="off", action='', method='get', style="margin-bottom:20px;")
                  .autocomplete
                    input#s.serch_input(type='search', placeholder=trads.t5c5d270075254800049b2122, name='s', value=fulltext)
                  button#searchsubmit.search_btn(type='submit')
                    i.ico-search2
                  .clear
                  if loged
                    .minae(style="display:block;margin:5px;")
                      input(type="checkbox")
                      = trads.t660bb62444d0f07f57e1a379
              //button#help.help_btn(style="display: inline-block;width: 50px;float: right;height: 39px;")
                i.ico-question(style="color:#eb3030;")
                  
              .hm-tabs.tabs2.fill_active(style="overflow:hidden;")
                nav.clearfix
                  ul.tabs-navi
                    li#prof108
                      a(class=(oldid=="108"?"selected":""), href='#',data-content='pc108')
                        = trads.t5c5d278075254800049b2176
                        | 
                        .badge= playersCount
                    li#prof102
                      a(class=(oldid=="102"?"selected":""), href='#',data-content='pc102')
                        = trads.t5c5d272675254800049b213b
                        | 
                        .badge= documentsCount
                    li#prof113
                      a(class=(oldid=="113"?"selected":""), href='#',data-content='pc113')
                        = trads.t5c5d2793f52f110004a93966 
                        | 
                        .badge= projectsCount
                    //li#prof114
                      a(class=(oldid=="114"?"selected":""), href='#',data-content='pc114')
                        = trads.t5c5d271875254800049b212e
                        | 
                        .badge= innosCount
                    li#prof110
                      a(class=(oldid=="110"?"selected":""), href='#',data-content='pc110')
                        = trads.t5c5d272df52f110004a93932
                        | 
                        .badge= newsCount
                    //li#prof115
                      a(class=(oldid=="115"?"selected":""), href='#',data-content='pc115')
                        = trads.t5c5d273375254800049b214c
                        | 
                        .badge= eventsCount
                    li#prof116
                      a(class=(oldid=="116"?"selected":""), href='#',data-content='pc116')
                        = "videos"
                        | 
                        .badge= videosCount
                    li#prof117
                      a(class=(oldid=="117"?"selected":""), href='#',data-content='pc117')
                        = "Agritrop"
                        | 
                        .badge= agritropCount
                    //li
                      a(href="#",onclick="window.location.href = '/"+lang+"/2_8/hal.html'")
                        = "HAL"
                    //li
                      a(href="#",onclick="window.location.href = '/"+lang+"/2_6/bowl.html'")
                        = "Fouille de données"
                ul.tabs-body(style="min-height:500px;")
                  li(data-content='pc108',class=(oldid=="108" ? "selected" : ""))
                    .row
                      .col-md-3
                        .row.criterias(style="width:auto;")
                          .col-md-12
                            div( style="display: inline-block;")
                              a(style="float:left;font-size:10px;",href="javascript:void(0)",onclick="VV_dir_sb.categs.removeAll(108)") 
                                i.ico-remove
                                = " " + trads.t6062f4a2d243f43a9d03e6d1
                            .news-tags.tagcloud.style2  
                        .enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b317dedf2a1fdb57fbe7
                            .enar_occ_content
                                .acc_content
                                    input(id="param1",type="hidden",value="")
                                    +mix-categ_global("5e7b914ec83d033b137f0ba2","a",-1,1)
                        .enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b31ededf2a1fdb57fbf3
                            .enar_occ_content
                                .acc_content
                                    input(id="param2",type="hidden",value="")
                                    +mix-categ_global("5e74f50995649d9402657b44","a",-1,2)
                        .enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b324dedf2a1fdb57fbf8
                            .enar_occ_content
                                .acc_content
                                    input(id="param3",type="hidden",value="")
                                    +mix-categ_global("5e74f526466f900b86e0765f","a",-1,3)
                        .enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b3363b189b1ff26283db
                            .enar_occ_content
                                .acc_content
                                    input(id="param9",type="hidden",value="")
                                    +mix-categ_global("5e74f5384087d8f50245cf5a","a",-1,9)
                      .col-md-9
                        .hm_blog_list.clearfix#is-container-108(style="margin-top:15px;")
                        //+mix-loader
                    
                  li(data-content='pc102',class=(oldid=="102" ? "selected" : ""))
                    .row
                      .col-md-3
                        .row.criterias(style="width:auto;")
                          .col-md-12
                            div( style="display: inline-block;")
                              a(style="float:left;font-size:10px;",href="javascript:void(0)",onclick="VV_dir_sb.categs.removeAll(102)") 
                                i.ico-remove
                                = " " + trads.t6062f4a2d243f43a9d03e6d1
                            .news-tags.tagcloud.style2  
                        .enar_accordion.plus_minus(data-type='toggle')
                          +mix-categ_bowl(bowlSources,"Sources",30)
                          +mix-categ_bowl(bowlLanguages,"Languages",31)
                          +mix-categ_bowl(bowlCountries,"Pays",32)
                          +mix-categ_bowl(bowlExtensions,"Formats",33)
                          //+mix-categ_bowl(bowlProvinces,"Provinces",5)
                          +mix-categ_bowl(bowlKeywords,"Mots-clés",34)
                        //.enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b32b3b189b1ff26283cc
                            .enar_occ_content
                                .acc_content
                                    input(id="param4",type="hidden",value="")
                                    +mix-categ_global("5c2ce9c307c805cd14b5fc5a","a",-1,4)
                      .col-md-9
                        .hm_blog_list.clearfix#is-container-102(style="margin-top:15px;")
                      //+mix-loader
                  li(data-content='pc113',class=(oldid=="113" ? "selected" : ""))
                    .row
                      .col-md-3
                        .row.criterias(style="width:auto;")
                          .col-md-12
                            div( style="display: inline-block;")
                              a(style="float:left;font-size:10px;",href="javascript:void(0)",onclick="VV_dir_sb.categs.removeAll(113)") 
                                i.ico-remove
                                = " " + trads.t6062f4a2d243f43a9d03e6d1
                            .news-tags.tagcloud.style2  
                        .enar_accordion.plus_minus(data-type='accordion')
                          .enar_occ_container(data-expanded='false')
                            span.enar_occ_title= trads.t6009b3313b189b1ff26283d6
                            .enar_occ_content
                                .acc_content
                                    input(id="param5",type="hidden",value="")
                                    +mix-categ_global("5e667c62a91cb09eca7a6b1d","a",-1,5)
                        .enar_occ_container(data-expanded='false')
                          span.enar_occ_title= trads.t6009b3363b189b1ff26283db
                          .enar_occ_content
                              .acc_content
                                  input(id="param6",type="hidden",value="")
                                  +mix-categ_global("5e74f5384087d8f50245cf5a","b",-1,6)
                        .enar_occ_container(data-expanded='false')
                          span.enar_occ_title= trads.t6009b33c14b3991fe586edaf
                          .enar_occ_content
                              .acc_content
                                  input(id="param7",type="hidden",value="")
                                  +mix-categ_global("5e670cc7ea6093d8137de073","b",-1,7)
                        .enar_occ_container(data-expanded='false')
                          span.enar_occ_title= trads.t6009b3413b189b1ff26283e5
                          .enar_occ_content
                              .acc_content
                                input(id="param8",type="hidden",value="")
                                +mix-categ_global("5e670bf17af9c8e42ce7a479","b",-1,8)
                      .col-md-9
                        .hm_blog_list.clearfix#is-container-113(style="margin-top:15px;")
                      //+mix-loader
                  //li(data-content='pc114')
                    .hm_blog_list.clearfix#is-container-114
                      +mix-loader
                  li(data-content='pc110',class=(oldid=="110" ? "selected" : ""))
                    .col-md-12
                      .hm_blog_list.clearfix#is-container-110(style="margin-top:15px;")
                      //+mix-loader
                  //li(data-content='pc115',class=(oldid=="115" ? "selected" : ""))
                    .hm_blog_list.clearfix#is-container-115
                      +mix-loader
                  li(data-content='pc116',class=(oldid=="116" ? "selected" : ""))
                    .col-md-12
                      .hm_blog_list.clearfix#is-container-116(style="margin-top:15px;")
                  li(data-content='pc117',class=(oldid=="117" ? "selected" : ""))
                    .col-md-12
                      .hm_blog_list.clearfix#is-container-117(style="margin-top:15px;")
            //aside#sidebar.col-md-3.right_sidebar
              .widget_block
                h6.widget_title= trads.t5c5d27a175254800049b2190
                .search_block
                  form.widget_search( autocomplete="off", action='', method='get', style="margin-bottom:20px;")
                    .autocomplete
                      input#s.serch_input(type='search', placeholder=trads.t5c5d270075254800049b2122, name='s')
                    button#searchsubmit.search_btn(type='submit')
                      i.ico-search2
                    .clear
                  .enar_accordion.plus_minus(data-type='accordion')
                    .enar_occ_container(data-expanded='false')
                      span.enar_occ_title Domaines d’intervention
                      .enar_occ_content
                          .acc_content
                              input(id="param2",type="hidden",value="")
                              +mix-categ_global("5e667c62a91cb09eca7a6b1d","a",-1)
                    .enar_occ_container(data-expanded='false')
                      span.enar_occ_title Pays d'intervention
                      .enar_occ_content
                          .acc_content
                              input(id="param2",type="hidden",value="")
                              +mix-categ_global("5e74f5384087d8f50245cf5a","b",-1)
                    .enar_occ_container(data-expanded='false')
                      span.enar_occ_title Elément(s) de l’agroécologie selon la FAO
                      .enar_occ_content
                          .acc_content
                              input(id="param2",type="hidden",value="")
                              +mix-categ_global("5e670bf17af9c8e42ce7a479","b",-1)
                    .enar_occ_container(data-expanded='false')
                      span.enar_occ_title Objectifs développement durable
                      .enar_occ_content
                          .acc_content
                              input(id="param2",type="hidden",value="")
                              +mix-categ_global("5e670cc7ea6093d8137de073","b",-1)

block append scripts
  script.
    var ftext = "#{fulltext}";
    var oldid = "#{oldid}";
    var olUid = -1;
    var bowlNetworkUID = "HhZJj4gBcChJ5PWKQg0b"
    var BOWL_MEDIA_URL = "#{BOWL_MEDIA_URL}";
  <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
  script(src="../assets/js/jquery-ias.min.js")
  script(src='https://www.boost-ae.net//assets/js/pages/directory_sidebar.js')
  script(src='https://www.boost-ae.net//assets/js/pages/directory_global.js')
  //script(src='../assets/js/pages/directory_global.js')
  script(src='https://www.boost-ae.net//assets/js/pages/bowlGpt.js')