mixin mix-events
    .container
        .row.mb64.mb-xs-24
            .col-md-10.col-md-offset-1.col-sm-12.text-center
                h3= trads.t5fb63c1b4919d25a8ce2e073
        .row
            .col-sm-4
                .tabbed-content.button-tabs
                    ul.content
                        li.active
                            .tab-content.text-left
                                h6.uppercase= trads.t5dd621db6801a284e666b8aa
                                ul
                                    each evt in events
                                        li 
                                            - var uri = encodeURIComponent(evt.p5c332d0b07c805cd14cf1ef5)
                                            a(href='/en/7_115/'+evt._id+'/'+evt.p5c332d0b07c805cd14cf1ef5+'.html')
                                                .boxed-img.mb24(style="height:150px;width:100%;text-align:center;vertical-align: middle;")
                                                    img(src=s3 + evt.p5c332d1907c805cd14cf2042, alt='',style="max-height:150px;  ")
                                            a(href='/en/7_115/'+evt._id+'/'+evt.p5c332d0b07c805cd14cf1ef5+'.html')
                                                h4.mb8= evt.p5c332d0b07c805cd14cf1ef5
                                                p.mb0= evt.p5c332d2807c805cd14cf2194
            #calparent.col-sm-4.text-center
                #calendar.box-widget.widget-posts.blog-widgets
            .col-md-4
                .tabbed-content.button-tabs
                    h6.uppercase.tit= trads.t5dd621e076c049779789dcbe
                    ul.content
                        li.active
                        .tab-content.text-left#evts
        .row.mt24(style="text-align:center;")
            .col-md-12
                a.btn.btn-sm(href='/'+lang+'/2/115/events.html')= trads.t5c5d27daf52f110004a9398a