mixin mix_compteurs
  .container
    .row.v-align-children
      .col-sm-6.col-md-5
        h2.uppercase.color-primary= trads.t5d9ae9461b977ec534e016b1
        hr
        p= trads.t5d9ae94b33cd197b81942155
      .col-sm-6.col-md-offset-1.p0
        .col-sm-6.text-center
          a(href='/'+lang+'/2/108/global.html')
            .feature.bordered.mb30
              h1.large.uppercase(style='color:#96336c;')= playersCount
              h5.uppercase(style='color:#96336c;')= trads.t5c5d278075254800049b2176
        // end 6 col
        .col-sm-6.text-center
          a(href='/'+lang+'/2/113/global.html')
            .feature.bordered.mb30
              h1.large(style='color:#96336c;')= projectsCount
              h5.uppercase(style='color:#96336c;')= trads.t5c5d2793f52f110004a93966
        // end 6 col
        .col-sm-6.text-center
          a(href='/'+lang+'/2/114/global.html')
            .feature.bordered.mb30
              h1.large(style='color:#96336c;')= documentsCount
              h5.uppercase(style='color:#96336c;')= trads.t5c5d271875254800049b212e
        // end 6 col
        .col-sm-6.text-center
          a(href='/'+lang+'/2/102/global.html')
            .feature.bordered.mb30
              h1.large(style='color:#96336c;')= newsCount
              h5.uppercase(style='color:#96336c;')= trads.t5c5d272675254800049b213b