mixin mix_footer
  // footer
  footer#footer
    .container.row_spacer.clearfix
      .rows_container.clearfix
        .col-md-3
          .footer_row
            h6.footer_title= trads.t5fc5f834b4b8eb1f1e43594f
            ul.recent_posts_list
              each actu,index in footer.news
                if index < 3
                  li.clearfix
                    - var uri = encodeURIComponent(actu.p5c332d0b07c805cd14cf1ef5)
                    a(href='/'+lang+'/7_110/'+actu._id+'/'+uri+'.html')
                      span.recent_posts_img
                        img(src=s3+actu.p5c332d1907c805cd14cf2042, width='90', alt='Post Title')
                      span= actu.p5c332d2807c805cd14cf2194
                    span.recent_post_detail #{moment(actu.p5c332d9907c805cd14cf2b18).format('DD/MM/YYYY')}
            a.arrow_button.full_width(href='/'+lang+'/2/110/news.html')
              span
                i.ico-arrow-forward
                span= trads.t5fc5f83bca1df77ba2f52b1e
                i.ico-arrow-forward
        // Grid
        .col-md-3
          if footer.keywords
            .footer_row
              h6.footer_title= trads.t5c5d26eb75254800049b2115
              .tagcloud.clearfix
                each keyw,index in footer.keywords
                  - var uri = encodeURIComponent(keyw.p5b5ea8fd0311784a87b6dc0a)
                  a(href='/'+lang+'/2/108/global.html?fulltext='+uri)
                    span.tag= keyw.p5b5ea8fd0311784a87b6dc0a
          .footer_row
            h6.footer_title= trads.t5fc5f862b293387249ff2276
            span.footer_desc= trads.t5fc5f869b4b8eb1f1e43595e
            form.newsletter_form(method='post')
              .newsletter_con
                input(type='text', placeholder='Votre email ...')
                button.newsletter_button(type='submit', name='submit')
                  i.ico-check3
        // Grid
        .col-md-1
        .col-md-5
          .footer_row
            h6.footer_title= trads.t5fc5f87bb4b8eb1f1e435966
            img(alt='BOOST', src='../assets/images/logo_manaboost.jpg', style='width:200px;')
            span.footer_desc(style="color:#ddd;")
              = trads.t62a609d213fe4477366e55ce
            a.black_button(href='/' + lang + '/7_24/5e916cd910e2df7f3464cf71/plateforme.html')
              i.ico-angle-right
              span= trads.t5c5d286275254800049b21d9
        // Grid
    .footer_copyright
      .container.clearfix
        .col-md-6
          - var dt = new Date()
          span.footer_copy_text= "© Copyright  "+dt.getFullYear()+" - ManaBoosT"
            = "  - " + trads.t5c5daa8943fef3000484f51c
        .col-md-6.clearfix
          ul.footer_menu.clearfix
            li
              a(href="/"+lang+"/7_24/62a887a73de1cb4658563281/mentions_legales.html")= trads.t6034d9f7d9fbe11fa37fa9b1
            li= " / "
            li
              a(href="/"+lang+"/7_24/62a88665e5a7a84694c8a9a1/conditions_generales_dutilisation.html")= trads.t6203fde68d1dd4d3c97695b7
  // End footer
  a.hm_go_top(href='#0')= trads.t5df75025f19293d785670d05
